/*stylesheet*/

body {
	margin: 0;
	background-color: #A6DDEA;
}

h1 {
font-family: coolvetica, sans-serif;
font-size: 3em;
font-weight: 400;
font-style: normal;
}

.wrapper {
	position: relative;
		margin: 0 auto;
		max-width: 1200px;
}

/*Masthead*/

#masthead {
	background-color: #A6DDEA; /*blue*/
	padding: 0 1rem;
}

#nav {
	background-color: white;
	box-sizing: border-box;
	border-top-left-radius: 10px;
  border-top-right-radius: 10px;
	padding-left: 150px;
	padding-right: 150px;
}

#logo {
	padding: 1rem 0;

}

#logo #logo-holder {
	position: relative;
	color: var(--body-color);
	text-decoration: none;
	display:flex;
	align-items: center;
  	justify-content: center;

}

#logo a {
	width: 20%;
}

#logo svg {
  width: 100%;
	height: auto;
	display: block;
}

#nav .nav-menu {
	display:flex;
	align-items: center;
	justify-content: space-around;
  	width: 100%;
  	height: 100%;
  	list-style: none;
  	padding: 0; 
  	margin: 0;
}

#nav .nav-menu a {
  font-family: museo-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000;
  text-decoration: none;
  padding: 1rem 1rem;
}

#nav .nav-menu a:hover {
  color: #A6DDEA;
  text-decoration: none;
}

#nav .nav-menu a.active {
  background: #A6DDEA;
  color: #fff;
  text-decoration: none;
}

/*ABOUT*/

.about_image{
	width: 300px;
}

.container {
	position:relative;
	background: #FAD5E5; /*pink*/
	overflow:hidden;
	box-sizing:border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2rem;
}

.container .box {
	position: relative;
	width:400px;
	height:100px;
	background:#FAF28B; /*yellow*/
	float:left;
	box-sizing: border-box;
	overflow: hidden;
	border-radius:10px;
	box-shadow: 10px 10px 5px grey;
  margin-bottom: 2rem;
}

.container .box h2 {
	text-align: left;
	margin: 20 50px;
	font-family: coolvetica, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3em;
	color:#A6DDEA;
}

.container .image-holder {
  background-color: #A6DDEA;
  padding: 1rem;
}

.container img {
  display: block;
  width: 100%;
  height: auto;
}



p {
  font-family: museo-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
  text-decoration: none;
}

p:first-child {
  margin-top: 0;
}

/* Thing */

#thing {
  background: #000;
  color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#thing-inner {
  padding: 15rem 10rem;
}

#thing-inner h1 {
  margin-top: 0;
}

/* Slider */

#slider {
  overflow: hidden;
}

#slider .prev, #slider .next {
  position: absolute;
  z-index: 2;
  margin: 1rem;
  font-size: 3em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev span, .next span {
  cursor: pointer;
  display: block;
  background: #fff;
}

#slider-inner {

}

#slider .slide {

}

#slider img {
  display: block;
  height: auto;
  width: 100%;
}

/* media queries */

@media all and (max-width: 699px) { 

  #masthead {
    padding-bottom: 1rem;
  }

  #logo #logo-holder {
    justify-content: center;
    margin: 1rem 0;
  }

  #logo a {
  	width: 25%;
  }

  @media all and (min-width: 700px) { 
  
  body{
    font-size: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 1vw);
  }

}

@media all and (min-width: 1800px) {

  body{
    font-size: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 18px);
  }

}

}